.Title {
  &__level1 {
    line-height: 1.4em;
    font-size: 4em;
  }
  &__level2 {
    font-size: 3em;
  }
  &__level3 {
    font-size: 2em;
  }
  &__level4 {
    font-size: 1.3em;
    line-height: 2em;
  }
  &__level5 {
    font-size: 1em;
  }
  &__level6 {
    font-size: 0.8em;
  }
}
