.color-yellow {
  color: #f8d340;
}

.color-purple {
  color: #724687;
}

.color-purple-light {
  color: #f571b6;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}
