@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("./app/style/utils.scss");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Literata", serif;
  background: #333333;
  color: #f4f4f4;
  font-size: calc(16px + (24 - 16) * (100vw - 850px) / (1000 - 200));
  line-height: calc(16px + (24 - 16) * (100vw - 700px) / (1000 - 100));
}

a {
  text-decoration: underline;
}
